.timestamp {
  font-family: monospace;
  font-size: 80%;
  color: #808080;
  padding: 6px 0 0 0;
  vertical-align: top;
}
.timestamp a {
  color: #808080;
  text-decoration: none;
}

.date {
  color: #a0a0a0;
  border-top: 1px dashed #a0a0a0;
}

.date span {
  float: right;
/*  margin-top: -6px; */
}

.nickname {
  color: #000000;
  font-size: 70%;
  padding: 1px 2px;
  margin: 0 4px 0 2px;
}

.message {
  font-size: 100%;
  margin-left: 3.0em;
  padding: 0;
}
.message span {
  vertical-align: baseline;
}

.channels {
  list-style: square outside none;
  font-size: 90%;
  padding-left: 1em;
  margin-top: 0;
}

#lines .message {
  color: #000000;
}

#notifications * {
  font-size: 90%;
  color: #ddd;
  text-decoration: none;
}

.pagination { text-align: center; text-decoration: none; color:#808080; cursor:pointer }

#settings {
  position: fixed;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
  opacity: 0.4;
  height: 32px;
  z-index: 10;
}
#settings:hover {
  opacity:1;
  height: auto;
}
#settings:hover>img {
  display: none;
}
#settings ul {
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #eee;
  z-index: 9;
  display: none;
}
#settings:hover>ul {
  display: block;
  -moz-animation-duration: 1s;
  -moz-animation-name: slidein;
}
@-moz-keyframes slidein {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}
#settings>ul li {
  display: block;
}
#settings>ul li a {
  color: #000;
  display: block;
  float: none;
  line-height: 12px;
  padding: 10px 10px 12px;
  text-decoration: none;
}
#settings>ul li a:hover {
  color: #ffffff;
  background-color: #222;
}

.container {
  margin: 6px;
}

a:link.tag, a:visited.tag { border: 1px dashed #ccc; background: #ccc; text-decoration: none; }
a:hover.tag { border: 1px solid #eee; }

h1 {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  color: #444444;
}

footer {
  border-top: 1px dashed #aaaaaa;
  margin-top: 1em;
  background-color: #eeeeee;
}
footer div { margin: 8px 6px 0; padding-bottom: 0.4em;}
footer a { text-decoration: none; color: #555555; }
footer a:hover { text-decoration: underline; color: #152C5C }

html, body {
  font-family: sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
